%%-*- mode: erlang -*-
{lib_dirs,            [".."]}.
{erl_opts,            []}.
{xref_checks,         []}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps, [
          {jsonrpc2, ".*", {git, "https://github.com/netDalek/jsonrpc2-erlang", {branch, "master"}}},
          {eredis, ".*", {git, "https://github.com/wooga/eredis", {branch, "master"}}},
          {jiffy, ".*", {git, "https://github.com/davisp/jiffy", {branch, "master"}}}
          
       ]}.

